emp-service/emp-service/wsdl/EmployeeDao.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://dao.ymail.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://dao.ymail.com" xmlns:intf="http://dao.ymail.com" xmlns:tns1="http://core.jdbc.springframework.org" xmlns:tns2="http://support.jdbc.springframework.org" xmlns:tns3="http://sql.javax" xmlns:tns4="http://model.ymail.com" xmlns:tns5="http://DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://dao.ymail.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://sql.javax"/>
   <import namespace="http://model.ymail.com"/>
   <import namespace="http://DefaultNamespace"/>
   <import namespace="http://support.jdbc.springframework.org"/>
   <import namespace="http://core.jdbc.springframework.org"/>
   <element name="getDetails">
    <complexType/>
   </element>
   <element name="getDetailsResponse">
    <complexType>
     <sequence>
      <element name="getDetailsReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="getJdbcTemplate">
    <complexType/>
   </element>
   <element name="getJdbcTemplateResponse">
    <complexType>
     <sequence>
      <element name="getJdbcTemplateReturn" type="tns1:JdbcTemplate"/>
     </sequence>
    </complexType>
   </element>
   <element name="setJdbcTemplate">
    <complexType>
     <sequence>
      <element name="jdbcTemplate" type="tns1:JdbcTemplate"/>
     </sequence>
    </complexType>
   </element>
   <element name="setJdbcTemplateResponse">
    <complexType/>
   </element>
   <element name="saveEmployee">
    <complexType/>
   </element>
   <element name="saveEmployeeResponse">
    <complexType/>
   </element>
   <element name="updateEmployee">
    <complexType>
     <sequence>
      <element name="details" type="tns4:EmployeeDetails"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateEmployeeResponse">
    <complexType/>
   </element>
   <element name="deleteEmployee">
    <complexType>
     <sequence>
      <element name="details" type="tns4:EmployeeDetails"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteEmployeeResponse">
    <complexType/>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://support.jdbc.springframework.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://sql.javax"/>
   <import namespace="http://model.ymail.com"/>
   <import namespace="http://DefaultNamespace"/>
   <import namespace="http://dao.ymail.com"/>
   <import namespace="http://core.jdbc.springframework.org"/>
   <complexType abstract="true" name="JdbcAccessor">
    <sequence>
     <element name="dataSource" nillable="true" type="xsd:anyType"/>
     <element name="databaseProductName" nillable="true" type="xsd:string"/>
     <element name="exceptionTranslator" nillable="true" type="xsd:anyType"/>
     <element name="lazyInit" type="xsd:boolean"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://core.jdbc.springframework.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://sql.javax"/>
   <import namespace="http://model.ymail.com"/>
   <import namespace="http://DefaultNamespace"/>
   <import namespace="http://dao.ymail.com"/>
   <import namespace="http://support.jdbc.springframework.org"/>
   <complexType name="JdbcTemplate">
    <complexContent>
     <extension base="tns2:JdbcAccessor">
      <sequence>
       <element name="fetchSize" type="xsd:int"/>
       <element name="ignoreWarnings" type="xsd:boolean"/>
       <element name="maxRows" type="xsd:int"/>
       <element name="queryTimeout" type="xsd:int"/>
       <element name="resultsMapCaseInsensitive" type="xsd:boolean"/>
       <element name="skipResultsProcessing" type="xsd:boolean"/>
       <element name="skipUndeclaredResults" type="xsd:boolean"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.ymail.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://sql.javax"/>
   <import namespace="http://DefaultNamespace"/>
   <import namespace="http://dao.ymail.com"/>
   <import namespace="http://support.jdbc.springframework.org"/>
   <import namespace="http://core.jdbc.springframework.org"/>
   <complexType name="EmployeeDetails">
    <sequence>
     <element name="company" nillable="true" type="xsd:string"/>
     <element name="gender" type="xsd:anyType"/>
     <element name="id" type="xsd:int"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="phone" nillable="true" type="xsd:string"/>
     <element name="salary" type="xsd:float"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="deleteEmployeeRequest">

      <wsdl:part element="impl:deleteEmployee" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="saveEmployeeResponse">

      <wsdl:part element="impl:saveEmployeeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setJdbcTemplateRequest">

      <wsdl:part element="impl:setJdbcTemplate" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDetailsResponse">

      <wsdl:part element="impl:getDetailsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteEmployeeResponse">

      <wsdl:part element="impl:deleteEmployeeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setJdbcTemplateResponse">

      <wsdl:part element="impl:setJdbcTemplateResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getJdbcTemplateRequest">

      <wsdl:part element="impl:getJdbcTemplate" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateEmployeeRequest">

      <wsdl:part element="impl:updateEmployee" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateEmployeeResponse">

      <wsdl:part element="impl:updateEmployeeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDetailsRequest">

      <wsdl:part element="impl:getDetails" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getJdbcTemplateResponse">

      <wsdl:part element="impl:getJdbcTemplateResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="saveEmployeeRequest">

      <wsdl:part element="impl:saveEmployee" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EmployeeDao">

      <wsdl:operation name="getDetails">

         <wsdl:input message="impl:getDetailsRequest" name="getDetailsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDetailsResponse" name="getDetailsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getJdbcTemplate">

         <wsdl:input message="impl:getJdbcTemplateRequest" name="getJdbcTemplateRequest">

       </wsdl:input>

         <wsdl:output message="impl:getJdbcTemplateResponse" name="getJdbcTemplateResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setJdbcTemplate">

         <wsdl:input message="impl:setJdbcTemplateRequest" name="setJdbcTemplateRequest">

       </wsdl:input>

         <wsdl:output message="impl:setJdbcTemplateResponse" name="setJdbcTemplateResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="saveEmployee">

         <wsdl:input message="impl:saveEmployeeRequest" name="saveEmployeeRequest">

       </wsdl:input>

         <wsdl:output message="impl:saveEmployeeResponse" name="saveEmployeeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateEmployee">

         <wsdl:input message="impl:updateEmployeeRequest" name="updateEmployeeRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateEmployeeResponse" name="updateEmployeeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteEmployee">

         <wsdl:input message="impl:deleteEmployeeRequest" name="deleteEmployeeRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteEmployeeResponse" name="deleteEmployeeResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EmployeeDaoSoapBinding" type="impl:EmployeeDao">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDetailsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDetailsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getJdbcTemplate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getJdbcTemplateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getJdbcTemplateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setJdbcTemplate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setJdbcTemplateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setJdbcTemplateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="saveEmployee">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="saveEmployeeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="saveEmployeeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateEmployee">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateEmployeeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateEmployeeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteEmployee">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteEmployeeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteEmployeeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EmployeeDaoService">

      <wsdl:port binding="impl:EmployeeDaoSoapBinding" name="EmployeeDao">

         <wsdlsoap:address location="http://localhost:9090/emp-service/services/EmployeeDao"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
